.fondo{
    width: 100%;
    height: 90vh;
    background-color: rgb(246,246,234);
    display: flex;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    /*Triangulo e imagen*/
}
.caja-central{
    height: 75vh;
    width: 44vw;
    position: absolute;
    left: 25%;
}
.imagen{
    background-image: url("./img/pexels-suliman-sallehi-1704488.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    width: max-content; 
}
.triangulo{
    background: rgba(167, 89, 89, 0.541);
    width: 0;
    border-top: 75vh solid transparent;
    border-left: 22vw solid  rgb(246,246,234);
    border-right: 22vw solid  rgb(246,246,234);
    
}
@media screen and (max-width:600px) { 
    .caja-central{
        width: 55vw;
    }
    .triangulo{
        border-left: 25vw solid  rgb(246,246,234);
        border-right: 25vw solid  rgb(246,246,234);
    }

}
/*triangulo-imagen FIN*/


h1{
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    margin:2px
    
}
p{
    text-align: justify;
    font-size: 1.1em;
    font-variant: small-caps;
}
.caja-1, .caja-2{
   height: 100%;
   width: 15%;
   flex-direction:column;
   z-index: 1;
   display: flex;
   justify-content: flex-end;
}
@media screen and (max-width: 570px){
    .fondo{
        justify-content: space-between;
    }
    .caja-1, .caja-2{
        width: 25%;
    }
}
span{
    text-decoration: underline;
}
@media screen and (max-width: 450px){
    .caja-central{
        position: static;
        display: flex;
        flex-direction: column;
        width: 90vh;
    }
    .triangulo{
        border-left: 45vw solid  rgb(246,246,234);
        border-right: 45vw solid  rgb(246,246,234);
    }
    .caja-1, .caja-2{
        margin: 4px 0;
        width: 90%;
        height: min-content;
    }
    body{
        background-color: rgb(246,246,234);
    }
    .caja-1{
        border-bottom: 1px solid ;
    }
}